
html  {
	margin-top:100px;
	background: orange;
    
   
}
.cap {
	position:absolute;top:60px;left:20px;
	font-size: 50; color:red;
}
table {
    position: absolute; top:100px;left:25%;
    margin:auto; padding-top: 60px;
	text-align: center;  font-family: serif; font-size: 20px;
   
}

td {
	padding: 10px;
	border:outset red 3px;
	border-radius:10px;
	background-color: red; 
}

th {
     border:outset brown 3px; padding: 5px; background-color: brown; 
	font-family:Comic Sans MS, Comic Sans, cursive;
}
.b {
	margin-left: 70px; margin-top: 113px;
	border:outset red 4px;
	font-size:30px; padding:0px; 
	width: 20%;
	}
.b1 , .b2, .b3{
border:outset red 4px;
	font-size:30px; padding:10px; 
}
.p1, .p2, .p3,.p4, .p5,.p6{
	border:outset red 4px;
	font-size:30px; padding:10px; 
}
 .p1 {
 	display: flex;
  flex-grow: 0;
 }   

.c {
	border:outset pink 4px;
	font-size:30px; padding:0px; 
	width: 40%;
	display: flex;
  flex-direction: column-reverse; justify-content: center;
  align-self:stretch;
}