body {
   	background-color: #fa8e47;

   }

.a {
	background-color: white;
	width:600px;
	height: 400px;
	position:absolute;
	top:50%;
    left: 50%;
    transform: translate(-50%, -50% );
    border-radius:10px;
	border: 1px solid white;
	
}
.b {
	position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50% );
	background-color: red;
	width:150px;
	height:150px;
	border: 1px solid red;
    border-radius:50%;
}
.a {
  
  background: linear-gradient(to right,#c0c6c8, #9a9a9a,#dcdcdc,white);
  animation: background 100s infinite alternate;

}

@keyframes background {
  0% {
    background-position: 0 0;
  }
  50% {
  	background-position: 12000px 0;
  }
  100% {
    background-position: 0 0;
  }
   
}
.b {
  
  background: linear-gradient(to right,red, #cc3300,#cc0000,#ff0000);
  animation: background 100s infinite alternate;

}

@keyframes background {
  0% {
    background-position: 0 0;
  }
  50% {
  	background-position: 6000px 0;
  }
  100% {
    background-position: 0 0;
  }
  
  
}


